<!DOCTYPE html>
<html lang="en">
  <head>

    <title>about dash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>


  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">dash.</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-left">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/settings">Settings</a></li>
          </ul>
	  <ul class="nav navbar-nav pull-right">
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          </ul>


        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="jumbotron">
      <div class="container theme-showcase" role = "main">
        <h1>contact dash.</h1>
        <p>
	  Any inquiries? Reach us as follows: 
	  <br>
	  drothblatt@stuy.edu
	  fmansilla@stuy.edu
	  dwu9@stuy.edu
	  <br>
	</p>
      </div>
    </div> 

    <div class="container page-header">
      <h1>Thanks for exploring dash. We hope you like it! </h1>
    </div>
