<!DOCTYPE html>
<html lang="en">
  <head>

    <title>dash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>


  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">dash.</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-left">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/settings">Settings</a></li>
          </ul>
	  <ul class="nav navbar-nav pull-right">
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          </ul>


        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="jumbotron">
      <div class="container theme-showcase" role = "main">
        <h1>dash: nba daily schedule.</h1>
        <p>Here's todays schedule.</p>
      </div>
    </div> 
    <div class="learn-more container">
      {% for conference in standings %}
      <h3>{{ conference['name'] }}</h3><br><br>
      {% for division in conference['divisions'] %}
      <h4>{{ division['name'] }}</h4>
      <table class = "table table-striped">
	<thead>
	  <tr><th>Position</th><th>Team</th><th>Record</th><th>Winning
	      Percentage</th><th>Last 10</th>
	  </tr>
	</thead>
	<tbody>
	  {% for team in division['teams'] %}
	  <tr><td>{{team['position']}}</td><td>{{team['name']}}</td><td>{{team['record']}}</td><td>{{team['win_pct']}}</td><td>{{team['last10']}}</td></tr>
	  {% endfor %}
	</tbody>
      </table><br>
      {% endfor %}
      <br>
      {% endfor %}
    </div>
  </body>
  <br>
  <br>
  <br>
  <br>
</html>
