<!DOCTYPE html>
<html lang="en">
<head>

  <title>dash</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>


  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">dash.</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-left">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
	  <ul class="nav navbar-nav pull-right">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
          </ul>


        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="jumbotron row theme-showcase">
      <div class="jumbotron col-md-4 pull-left">
	<div class="container theme-showcase" role = "main">
          <h1>dash.</h1>
          <p>A basket full of useful widgets.</p>
          <a href="/about">Learn More</a>
	</div>
      </div>

      <div class="container col-md-4 theme-showcase pull-right"> <br><br>
	<canvas id="analogClock" width="200" height="200" style="background-color: grey;"></canvas>
	<div class="checkbox">
	  <label><input type="checkbox" id="analogSmoothTicks" checked>Smooth ticks</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" id="analogChangeColor" checked>Change color</label>
	</div>
      </div>

      <div class="container col-md-4 theme-showcase pull-left"> <br><br>
	<div id="digitalClock" class="digitalClock" style="display: inline-block; padding: 2px"></div>
	<form>
	  <div class="checkbox">
	    <label><input type="checkbox"
			  id="digitalTwentyFourHours">24-hour</label>
	  </div>
	  <div class="checkbox">
	    <label><input type="checkbox" id="digitalYesDate"
			  checked>Date</label>
	  </div>
	  <div class="checkbox">
	    <label><input type="checkbox" id="digitalChangeColor" checked>Change color</label>
	  </div>
	</form>
      </div> 
    </div>


    <div class = "neighborhood-guides">
      <div class = "container">
        <h2> Bits. </h2>
		<div class="row">
		  <div class="col-md-4">
	        <input class="btn btn-primary" type="file" accept="audio/*" id="audioInput">
			<br>
			<audio id="audio" controls>
			</audio>
		  </div>
		</div>
        <div class = "row">
	  <div class = "col-md-4">
	    <div class = "thumbnail">
	      <img src="../static/newyorktimes.jpg">
	    </div>
	  </div>
	  <div class = "col-md-4">
	    <div class = "thumbnail">
	      <img src="../static/sportsradar.jpg">
	    </div>
	  </div>
	  <div class = "col-md-4">
	    <div class = "thumbnail">
	      <img src="../static/wunderground.jpg">
	    </div>
          </div>
        </div>
      </div>
      
      <hr>
      <div class="learn-more">
	<div class="container">
	  <div class="row">
	    <div class = "col-md-4">
	      <h3>News Updates</h3>
	      <p> What's new? Here are some top news stories by section. Courtesy of the New York Times.</p>
	    </div>
	    <div class = "col-md-4">
	      <h3>Sports Updates</h3>
	      <p> NBA Daily Schedule. Courtsey of Sportsradar. </p>
	    </div>
	    <div class = "col-md-4">
	      <h3>Weather Updates</h3>
	      <p> What's the weather like? Don't need to ask someone else. Just find out here. Courtesy of Weather Underground. </p>
	    </div>
	  </div>
	</div>
      </div>

      <div class="learn-more">
	<div class="container">
	  <div class="row">
	    <div class = "col-md-4">

	      <select name="section" form="nytimes">
		<option value=""></option>
		<option value="world">World</option>
		<option value="national">National</option>
		<option value="politics">Politics</option>
		<option value="business">Business</option>
		<option value="opinion">Opinon</option>
		<option value="technology">Technology</option>
		<option value="science">Science</option>
		<option value="health">Health</option>
		<option value="sports">Sports</option>
		<option value="arts">Arts</option>
	      </select><br><br>

	      <form action="/home" method="POST" id="nytimes">
		<input type="submit" value="Submit">
	      </form>

	      <table class = "table table-striped">
		<thead> 
		  <tr>
		    <th> Your News.</th>
		  </tr>
		</thead>
		<tbody>
		  {% for i in news %}
		  <tr> <td> <b> {{ i['title'] }} </b> <br>{{ i['byline'] }} <br> Section: {{i['section']}} <br>
		      Date: {{i['published']}} <br> <br> <u>Abstract:</u> <i>  {{ i['abstract'] }} </i> <br> <a href={{i['url']}}> Go To Article </a> <br>
		      {% endfor %}
		</tbody>
	      </table>
	    </div>
	    <div class = "col-md-4">
	      <br><a href="/nba_standings"> Click Here for Current Standings. </a><br><br>
	      <table class = "table table-striped">
		<thead> 
		  <tr>
		    <th> Your Games. </th>
		  </tr>
		</thead>
		<tbody>
		  {% for i in nba_schedule %}
		  <tr> <td><b> {{ i['away_team'] }} @ {{ i['home_team'] }} </b> <br> {{ i['time'] }} PM <br>
		      Location: {{ i['arena'] }},  {{ i['city'] }} <br> Channel: {{ i['TV_station'] }} <br> </td> </tr>
		  {% endfor %}
		</tbody>
	      </table>
	    </div>
	    <div class = "col-md-4">
	      <form method="POST" action="/home">
		US City or Zip:
		<input type="text" name="location"><br><br>
		<input type="submit" value="Submit">
	      </form>
	      <b> {{ weather }} </b>
	    </div>
	  </div>
	</div>
      </div>
      
      <div class = "neighborhood-guides">
        <div class = "container">

	  <script src="{{url_for('static', filename='analogClock.js')}}"></script>
	  <script src="{{url_for('static', filename='digitalClock.js')}}"></script>
	  <script src="{{url_for('static', filename='audio.js')}}"></script>
  </body>
  <br>
  <br>
  <br>
  <br>
</html>
