<!DOCTYPE html>
<html lang="en">
<head>

  <title>dash</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>


  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">dash.</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-left">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/settings">Settings</a></li>
          </ul>
	  <ul class="nav navbar-nav pull-right">
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          </ul>


        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="jumbotron">
      <div class="container theme-showcase" role = "main">
        <h1>dash.</h1>
        <p>A basket full of useful widgets.</p>
        <a href="/about">Learn More</a>
      </div>
    </div> 

    <div class="container">
      <div class="row">
	<div class="col-md-4">
	  <canvas id="analogClock" width="200" height="200" style="background-color: grey;"></canvas>
	</div>
	<div class="col-md-4">
	  <div id="digitalClock" class="digitalClock" style="display: inline-block; padding: 2px"></div>
	</div>
      </div>
    </div>
       
    <hr>

    <div class = "neighborhood-guides">
        <div class = "container">
        <h2> Bits. </h2>
        <div class = "row">
	      <div class = "col-md-4">
	        <div class = "thumbnail">
	          <img src="../static/newyorktimes.jpg">
	        </div>
	      </div>
	      <div class = "col-md-4">
		<div class = "thumbnail">
	          <img src="../static/sportsradar.jpg">
	        </div>
	      </div>
	      <div class = "col-md-4">
		<div class = "thumbnail">
	          <img src="../static/wunderground.jpg">
	        </div>
             </div>
        </div>
            

	<div class="learn-more">
	  <div class="container">
	    <div class="row">
	      <div class = "col-md-4">
		<h3>News Updates</h3>
		<p> What's new? Find out. Courtesy of the New York Times.</p>
	      </div>
	      <div class = "col-md-4">
		<h3>Sports Updates</h3>
		<p>When is your team playing? What's their record. Find out. Courtesy of Sportsradar.</p>
	      </div>
	      <div class = "col-md-4">
		<h3>Weather Updates</h3>
		<p> What's the weather like? Don't ask someone. Just find out here. Courtesy of Weather Underground. </p>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="learn-more">
	  <div class="container">
	    <div class="row">
	      <div class = "col-md-4">
		<table class = "table table-striped">
		  <thead> 
		    <tr>
		      <th> Your News.  </th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for i in news %}
		    <tr> <td> <b> {{ i['title'] }} </b> <br>{{ i['byline'] }} | Section: {{i['section']}} <br>
			Date: {{i['published']}} <br> <br> <u>Abstract:</u> <i>  {{ i['abstract'] }} </i> <br> <a href={{i['url']}}> Go To Article </a> <br>
		    {% endfor %}
		  </tbody>
		</table>
	      </div>
	      <div class = "col-md-4">
		<br><a href="/nba_standings"> Click Here for Current Standings. </a><br><br>
		<table class = "table table-striped">
		  <thead> 
		    <tr>
		      <th> Your Games. </th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for i in nba_schedule %}
		    <tr> <td><b> {{ i['away_team'] }} @ {{ i['home_team'] }} </b> <br> {{ i['time'] }} PM <br>
			Location: {{ i['arena'] }},  {{ i['city'] }} <br> Channel: {{ i['TV_station'] }} <br> </td> </tr>
		    {% endfor %}
		  </tbody>
		</table>
	      </div>
	      <div class = "col-md-4">
		<b> {{ weather }} </b>
	      </div>
	    </div>
	  </div>
	</div>

	<script src="{{url_for('static', filename='analogClock.js')}}"></script>
	<script src="{{url_for('static', filename='digitalClock.js')}}"></script>
	<!-- <script src="{{url_for('static', filename='digitalClock.js')}}">var twelveHours = {{twelveHours}};</script> -->
  </body>
  <br>
  <br>
  <br>
  <br>
</html>
